<script>
	import Content from '../../components/Content.svelte';
	import Icon from '../../components/Icon.svelte';
</script>

<svelte:head>
	<title>الْقُرْآنُ الْكَرِيْمُ</title>
</svelte:head>

<Content>
	<main>
		<h1>الْقُرْآنُ الْكَرِيْمُ</h1>
		<a href="/page/1">
			<Icon name="quran-rehal" width="96" height="96" />
			<span class="screen-reader-text">صفحة ١</span>
		</a>
		<nav>
			<a href="/surahs">سورة</a>
			<a href="/bookmarks">المرجعيات</a>
		</nav>
	</main>
</Content>

<style lang="postcss">
	main {
		grid-row: 1/4;
		display: grid;
		place-items: center;
	}

	h1 {
		margin: 0;
	}

	a {
		color: inherit;
		text-decoration: unset;

		&:focus,
		&:hover {
			text-decoration: revert;
		}
	}

	nav {
		display: flex;
		justify-content: center;
		gap: 1rem;
	}
</style>
