<script>
	import { arabic_number } from '../../utils';

	import Ayah from '../../components/Ayah.svelte';
	import Content from '../../components/Content.svelte';
	import PageHeader from '../../components/PageHeader.svelte';
	import PageNav from '../../components/PageNav.svelte';
	import SurahHeader from '../../components/SurahHeader.svelte';

	/** @type { import("../../types").Data } */
	export let data;
	/** @type { import("./route").PageRequestOptions } */
	export let request;

	const { TOTAL_PAGES: total, page_ayahs, page_surahs, surah_of_page } = data;
	const { page_number } = request;
	const { juz_number } = page_ayahs[ 0 ];
	const { id: surah_number, name_arabic: surah_name } = page_surahs.find( s => s.id === surah_of_page );
	const isBaqarah = page_number === 2;
	const isFatihah = page_number === 1;
</script>

<svelte:head>
	<title>&rlm;الْقُرْآنُ الْكَرِيْمُ &ndash; {arabic_number( page_number )}</title>
</svelte:head>

<Content>
	<PageHeader {juz_number} {surah_name} {surah_number} />

	<main class:is-baqarah={isBaqarah} class:is-fatihah={isFatihah}>
		{#each page_ayahs as ayah}
			{#if ayah.chapter_id !== 1 && ayah.verse_number === 1}
				<SurahHeader surah={page_surahs.find( s => s.id === ayah.chapter_id )} />
			{/if}
			<Ayah {ayah} />
		{/each}
	</main>

	<footer>
		<PageNav {total} current={page_number} />
	</footer>
</Content>

<style lang="postcss">
	main {
		font-size: 1.5rem;
		line-height: 2.15;

		&.is-baqarah,
		&.is-fatihah {
			font-size: 1.75rem;
			text-align: center;
		}

		&.is-fatihah {
			display: grid;
			place-content: center;
		}
	}

	footer {
		padding-block-start: 0.5rem;
		padding-block-end: 0.5rem;
	}
</style>
