<script>
	import { sprintf } from 'sprintf-js';

	import { arabic_number } from '../../utils';

	import Content from '../../components/Content.svelte';
	import UtilHeader from '../../components/UtilHeader.svelte';

	/** @type { import("../../types").Data } */
	export let data;

	const { juz_list } = data;
</script>

<svelte:head>
	<title>&rlm;قَائِمَةُ السُّوَرِ &ndash; الْقُرْآنُ الْكَرِيْمُ</title>
</svelte:head>

<Content>
	<UtilHeader>
		<h1>قَائِمَةُ السُّوَرِ</h1>
	</UtilHeader>

	<main>
		<ol class="juz-list">
			{#each juz_list as { number, page_number, surahs }}
				<li>
					<a class="juz-link" href="/page/{page_number}">
						<span>{sprintf( 'الجزء %s', arabic_number( number ) )}</span>
						<span class="page-number">{arabic_number( page_number )}</span>
					</a>
					{#if surahs.length}
						<ol class="surah-list">
							{#each surahs as surah}
								<li>
									<a
										data-surah-number={arabic_number( surah.id )}
										href="/page/{surah.pages[ 0 ]}#surah-{surah.id}"
									>
										<span class="surah-info">
											<span>{surah.name_arabic}</span>
											<span class="surah-meta"
												>{surah.revelation_text} &ndash; {arabic_number(
													surah.verses_count,
												)}</span
											>
										</span>
										<span class="page-number">{arabic_number( surah.pages[ 0 ] )}</span>
									</a>
								</li>
							{/each}
						</ol>
					{/if}
				</li>
			{/each}
		</ol>
	</main>
</Content>

<style lang="postcss">
	a {
		display: flex;
		gap: 1rem;
		align-items: center;
		padding-inline-start: 1rem;
		padding-inline-end: 1rem;
		color: inherit;
		text-decoration: unset;

		&:focus,
		&:hover {
			text-decoration: revert;
		}
	}

	ol {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		list-style: none;
		padding-inline-start: unset;
		margin-block-start: unset;
		margin-block-end: unset;
		font-size: 1.25rem;
	}

	.surah-list {
		gap: 1rem;
		padding-block-start: 1rem;

		[data-surah-number]::before {
			content: attr( data-surah-number );
			font-size: 1.5rem;
			filter: opacity( 0.75 );
		}
	}

	.juz-link {
		background-color: var( --c-bg-low );
		line-height: 2;
	}

	.page-number {
		font-size: 1rem;
		margin-inline-start: auto;
	}

	.surah-info {
		display: flex;
		flex-direction: column;
		gap: 0.25rem;
		line-height: 1.25;
	}

	.surah-meta {
		font-size: 1rem;
		filter: opacity( 0.75 );
	}
</style>
