@font-face {
	font-family: Kitab;
	src: url( '/kitab.woff2' ) format( 'woff2' ), url( '/kitab.woff' ) format( 'woff' );
}

@font-face {
	font-family: lpmq;
	src: url( '/lpmq.woff2' ) format( 'woff2' ), url( '/lpmq.woff' ) format( 'woff' );
}

/* TODO */
:root {
	--c-bg: #fcfcfc;
	--c-bg-low: #f6f7f8;
	--c-bg-high: #fff;
	--c-bg-dark: #151d28;
	--c-fg: #3c434a;
}

.screen-reader-text {
	clip: rect( 0.063rem, 0.063rem, 0.063rem, 0.063rem );
	clip-path: polygon( 0 0, 0 0, 0 0, 0 0 );
	position: absolute !important;
	white-space: nowrap;
	height: 0.063rem;
	width: 0.063rem;
	overflow: hidden;
}
