<script>
	/** @typedef { import("../types").BookmarkItem } BookmarkItem */

	import { onMount } from 'svelte';
	import { sprintf } from 'sprintf-js';

	import { arabic_number } from '../utils';
	import { createBookmarks } from '../stores/bookmarks';

	import Icon from './Icon.svelte';

	/** @type { import("../types").Ayah[] } */
	export let ayahs;

	/** @type { import("../types").Page[] } */
	export let pages;

	/** @type { import("../types").Surah[] } */
	export let surahs;

	/** @type { import("../types").BookmarkStore } */
	let bookmarks;

	/** @type {BookmarkItem[]} */
	let list;

	/**
	 * Create bookmark item
	 *
	 * @param {number}  page_number  Page number.
	 * @param {boolean} is_last_open Is this a last open item?
	 * @return {BookmarkItem} Bookmark item.
	 */
	function createItem( page_number, is_last_open = false ) {
		const page = pages.find( p => p.id === page_number );
		const ayah = ayahs.find( a => a.v1_page === page_number );
		const surah = surahs.find( s => s.id === page.surah_of_page );
		const text_page_number = arabic_number( page_number );

		return {
			is_last_open,
			page_number,
			text_page_number,
			link: `/page/${ page_number }`,
			text_info: sprintf( 'صفحة %s، جزء %s', text_page_number, arabic_number( ayah.juz_number ) ),
			text_surah: surah.name_arabic,
		};
	}

	$: {
		list = [];

		if ( bookmarks ) {
			if ( $bookmarks.last_open > 0 ) {
				list = list.concat( [ createItem( $bookmarks.last_open, true ) ] );
			}

			if ( $bookmarks.pages.length ) {
				list = list.concat( $bookmarks.pages.map( p => createItem( p, false ) ) );
			}
		}
	}

	onMount( () => {
		bookmarks = createBookmarks();
	} );
</script>

{#if list.length}
	<ul>
		{#each list as item}
			<li>
				{#if item.is_last_open}
					<span class="last-open">
						<Icon name="book-open" />
					</span>
				{:else}
					<button on:click={() => bookmarks.remove_page( item.page_number )}>
						<Icon class="mark" name="bookmark" />
						<Icon class="remove" name="bookmark-x" />
					</button>
				{/if}
				<a href={item.link}>
					<span class="info">
						<span class="surah-name">{item.text_surah}</span>
						<span>{item.text_info}</span>
					</span>
					<span class="page-number">{item.text_page_number}</span>
				</a>
			</li>
		{/each}
	</ul>
{/if}

<style lang="postcss">
	ul {
		list-style: none;
		padding-inline-start: unset;
	}

	li {
		margin-block-end: 1rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	button,
	.last-open {
		margin-inline-end: 1rem;
	}

	button {
		border: unset;
		padding: unset;

		:global( .remove ) {
			display: none;
		}

		&:active,
		&:focus,
		&:hover {
			:global( .mark ) {
				display: none;
			}

			:global( .remove ) {
				display: revert;
			}
		}
	}

	a {
		display: flex;
		align-items: center;
		color: inherit;
		text-decoration: unset;
		flex: auto 1;

		&:focus,
		&:hover {
			text-decoration: revert;
		}
	}

	.info {
		display: inline-flex;
		flex-direction: column;
	}

	.surah-name {
		font-size: 1.5rem;
		line-height: 1;
	}

	.page-number {
		margin-inline-start: auto;
	}
</style>
