<script>
	import { onMount } from 'svelte';
	import { arabic_number } from '../utils';
	import { createBookmarks } from '../stores/bookmarks';

	import Icon from './Icon.svelte';

	/** @type {number} */
	export let page_number;

	/** @type { import("../types").BookmarkStore } */
	let bookmarks;

	/**
	 * Toggle bookmark
	 */
	function toggleBookmark() {
		if ( is_added ) {
			bookmarks.remove_page( page_number );
		} else {
			bookmarks.add_page( page_number );
		}
	}

	$: is_added = Boolean( bookmarks && $bookmarks.pages.includes( page_number ) );

	onMount( () => {
		bookmarks = createBookmarks();
		$bookmarks.last_open = page_number;
	} );
</script>

<button class:is-added={is_added} on:click={toggleBookmark}>
	<span>{arabic_number( page_number )}</span>
	<Icon name="bookmark-star" />
	<Icon name="bookmark-x" />
</button>

<style lang="postcss">
	button {
		border: unset;
		padding: 0 1rem;
		line-height: inherit;
		width: 4rem;

		:global( svg ) {
			display: none;
		}

		&:focus {
			outline: 1px dotted;
		}

		&:focus,
		&:hover {
			span {
				display: none;
			}

			:global( svg ) {
				display: revert;
			}
		}

		&.is-added {
			:global( .icon-bookmark-star ) {
				display: none;
			}
		}

		&:not( .is-added ) {
			:global( .icon-bookmark-x ) {
				display: none;
			}
		}
	}
</style>
