<script>
	import Icon from './Icon.svelte';
</script>

<a href="/">
	<Icon name="quran-book" />
	<span class="screen-reader-text">إلى الأمام</span>
</a>

<style>
	a {
		text-align: center;
		text-decoration: none;
		color: inherit;
	}
</style>
