<script>
	let className = '';

	export { className as class };
	/** @type {string} */
	export let name;

	const icons = [
		{
			name: 'book-open',
			// prettier-ignore
			path: '<path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>',
		},
		{
			name: 'bookmark',
			// prettier-ignore
			path: '<path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>',
		},
		{
			name: 'bookmark-star',
			// prettier-ignore
			path: '<path d="M7.84 4.1a.178.178 0 0 1 .32 0l.634 1.285a.178.178 0 0 0 .134.098l1.42.206c.145.021.204.2.098.303L9.42 6.993a.178.178 0 0 0-.051.158l.242 1.414a.178.178 0 0 1-.258.187l-1.27-.668a.178.178 0 0 0-.165 0l-1.27.668a.178.178 0 0 1-.257-.187l.242-1.414a.178.178 0 0 0-.05-.158l-1.03-1.001a.178.178 0 0 1 .098-.303l1.42-.206a.178.178 0 0 0 .134-.098L7.84 4.1z"/><path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>',
		},
		{
			name: 'bookmark-x',
			// prettier-ignore
			path: '<path fill-rule="evenodd" d="M6.146 5.146a.5.5 0 0 1 .708 0L8 6.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 7l1.147 1.146a.5.5 0 0 1-.708.708L8 7.707 6.854 8.854a.5.5 0 1 1-.708-.708L7.293 7 6.146 5.854a.5.5 0 0 1 0-.708z"/><path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>',
		},
		{
			name: 'quran-book',
			// prettier-ignore
			path: '<path d="m419.02 0h-319.953c-17.644 0-37.304 13.203-37.304 32.149l.001 419.814c0 18.2 14.805 33.069 33.004 33.069h324.252c2.347 0 4.25-1.903 4.25-4.25s-1.903-4.25-4.25-4.25c-13.359 0-23.824-10.764-23.824-24.506 0-13.668 10.46-24.386 23.717-24.501 2.347 0 4.356-1.903 4.356-4.25v-419.025c.001-2.347-1.902-4.25-4.249-4.25zm-4.25 35.022h-92.402c-2.347 0-4.25 1.903-4.25 4.25s1.903 4.25 4.25 4.25h92.402v25.423h-41.256c-2.347 0-4.25 1.903-4.25 4.25 0 2.348 1.903 4.25 4.25 4.25h41.256v274.37h-40.212c-2.347 0-4.25 1.903-4.25 4.25s1.903 4.25 4.25 4.25h40.212v58.711l-311.453-.005v-27.392h80.225c2.347 0 4.25-1.903 4.25-4.25s-1.903-4.25-4.25-4.25h-80.225v-56.216h36.386c2.347 0 4.25-1.903 4.25-4.25s-1.903-4.25-4.25-4.25h-36.386v-283.764h21.772c2.347 0 4.25-1.903 4.25-4.25s-1.903-4.25-4.25-4.25h-21.772v-17.649h311.453zm-344.507-2.873c0-12.136 12.225-21.516 24.553-23.327v410.199h-.048c-9.715 0-18.46 4.221-24.505 10.922zm316.433 419.878c0 9.82 3.997 18.51 10.457 24.506h-302.384c-11.855 0-21.77-8.464-24.023-19.666h233.877c2.347 0 4.25-1.903 4.25-4.25s-1.903-4.25-4.25-4.25h-234.085c.351-2.336 1.038-4.563 2.001-6.636h54.115c2.347 0 4.25-1.903 4.25-4.25s-1.903-4.25-4.25-4.25h-47.587c4.256-3.562 9.732-5.71 15.702-5.71h4.245c.018 0 .035.005.053.005s.035-.005.053-.005l298.029.005c-6.457 5.996-10.453 14.684-10.453 24.501z"/><path d="m260.826 294.276c46.813 0 84.899-38.086 84.899-84.9s-38.086-84.9-84.899-84.9-84.899 38.086-84.899 84.9 38.086 84.9 84.899 84.9zm0-161.299c42.127 0 76.399 34.272 76.399 76.4 0 42.127-34.273 76.4-76.399 76.4-42.127 0-76.399-34.273-76.399-76.4 0-42.128 34.272-76.4 76.399-76.4z"/><path d="m226.329 243.874c4.802 4.802 7.92 10.879 9.019 17.576.238 1.451 1.209 2.676 2.567 3.239.524.217 1.076.323 1.626.323.877 0 1.746-.271 2.48-.798 5.512-3.96 12.015-6.052 18.805-6.052s13.293 2.093 18.806 6.052c1.193.857 2.747 1.038 4.105.474 1.359-.563 2.33-1.788 2.567-3.239 1.098-6.696 4.216-12.773 9.017-17.575 4.804-4.803 10.881-7.921 17.577-9.018 1.451-.237 2.677-1.209 3.239-2.568.563-1.358.383-2.912-.475-4.106-3.96-5.512-6.052-12.015-6.052-18.806s2.092-13.294 6.051-18.805c.858-1.194 1.038-2.748.475-4.106-.563-1.359-1.788-2.33-3.239-2.567-6.695-1.097-12.772-4.215-17.575-9.017-4.802-4.802-7.92-10.88-9.018-17.578-.238-1.451-1.209-2.676-2.567-3.239-1.359-.563-2.912-.383-4.106.475-5.512 3.959-12.014 6.052-18.805 6.052s-13.293-2.093-18.805-6.052c-1.194-.858-2.748-1.038-4.106-.475s-2.33 1.788-2.567 3.239c-1.098 6.697-4.217 12.775-9.019 17.576-4.802 4.802-10.879 7.92-17.576 9.019-1.451.238-2.676 1.209-3.239 2.567-.563 1.359-.383 2.912.475 4.106 3.959 5.511 6.051 12.014 6.051 18.805s-2.092 13.294-6.051 18.806c-.858 1.194-1.038 2.748-.475 4.106.563 1.359 1.788 2.331 3.239 2.568 6.696 1.096 12.774 4.215 17.576 9.018zm-10.237-53.028c6.104-1.968 11.641-5.349 16.248-9.956 4.608-4.607 7.989-10.145 9.957-16.249 5.708 2.925 12.014 4.45 18.53 4.45s12.822-1.525 18.53-4.45c1.968 6.104 5.349 11.642 9.957 16.25 4.608 4.607 10.146 7.988 16.248 9.956-2.925 5.708-4.449 12.013-4.449 18.529s1.525 12.822 4.45 18.53c-6.103 1.968-11.641 5.349-16.249 9.957-4.608 4.607-7.989 10.145-9.957 16.248-5.709-2.925-12.014-4.45-18.53-4.45s-12.822 1.525-18.53 4.45c-1.968-6.104-5.349-11.641-9.956-16.249-4.608-4.608-10.146-7.989-16.249-9.957 2.924-5.708 4.449-12.014 4.449-18.53 0-6.515-1.525-12.821-4.449-18.529z"/><path d="m168.983 247.419c-5.972 18.174 4.242 45.386 4.715 46.628.432 1.132 1.325 2.026 2.457 2.457.708.27 17.523 6.61 33.425 6.61 4.991 0 9.413-.634 13.206-1.89 8.632 17.07 35.089 29.088 36.302 29.631.553.248 1.146.372 1.738.372s1.185-.124 1.738-.372c1.213-.543 27.671-12.56 36.302-29.631 3.793 1.255 8.215 1.89 13.206 1.89h.001c15.902 0 32.716-6.34 33.424-6.61 1.132-.432 2.025-1.326 2.457-2.457.474-1.242 10.687-28.454 4.714-46.629 17.074-8.628 29.094-35.091 29.637-36.305.496-1.105.496-2.37 0-3.476-.543-1.213-12.563-27.675-29.636-36.305 5.971-18.174-4.242-45.385-4.715-46.627-.432-1.132-1.326-2.026-2.458-2.458-.708-.27-17.522-6.61-33.424-6.61-4.992 0-9.414.634-13.207 1.889-8.632-17.07-35.09-29.088-36.303-29.632-1.105-.495-2.37-.495-3.475 0-1.213.543-27.67 12.562-36.302 29.632-3.793-1.256-8.215-1.89-13.206-1.89-15.903 0-32.717 6.34-33.424 6.61-1.132.432-2.026 1.325-2.457 2.457-.474 1.243-10.687 28.454-4.715 46.628-17.074 8.629-29.093 35.092-29.637 36.305-.496 1.105-.496 2.37 0 3.476.544 1.215 12.563 27.678 29.637 36.307zm6.805-69.703c1.223-.367 2.216-1.264 2.704-2.444.489-1.18.421-2.517-.184-3.641-5.995-11.139-.595-32.631 2.673-42.077 4.578-1.555 17.11-5.417 28.599-5.417 5.606 0 10.148.915 13.502 2.72 1.124.605 2.462.673 3.641.184 1.18-.488 2.077-1.481 2.444-2.705 3.638-12.123 22.678-23.509 31.661-27.871 8.982 4.353 28.011 15.721 31.658 27.872.367 1.223 1.265 2.216 2.444 2.705 1.179.488 2.516.421 3.641-.185 3.354-1.805 7.896-2.72 13.502-2.72 11.488 0 24.022 3.863 28.598 5.417 3.269 9.449 8.668 30.939 2.673 42.077-.605 1.124-.673 2.461-.184 3.641.488 1.18 1.481 2.077 2.704 2.444 12.123 3.64 23.509 22.678 27.871 31.662-4.353 8.982-15.721 28.01-27.872 31.657-1.223.367-2.216 1.265-2.705 2.444-.488 1.18-.421 2.517.184 3.641 5.996 11.138.596 32.631-2.672 42.077-4.578 1.555-17.111 5.417-28.6 5.417-5.606 0-10.148-.915-13.501-2.72-1.125-.605-2.461-.672-3.641-.185-1.179.489-2.077 1.482-2.444 2.705-3.64 12.123-22.677 23.509-31.662 27.871-8.982-4.353-28.01-15.72-31.658-27.871-.367-1.223-1.264-2.216-2.444-2.704-.522-.216-1.075-.324-1.626-.324-.695 0-1.388.17-2.014.508-3.353 1.805-7.895 2.72-13.501 2.72-11.488 0-24.023-3.863-28.599-5.417-3.269-9.448-8.668-30.939-2.673-42.077.605-1.124.673-2.461.184-3.641-.488-1.18-1.481-2.077-2.705-2.444-12.123-3.639-23.508-22.675-27.87-31.66 4.365-8.985 15.75-28.02 27.872-31.659z"/><path d="m322.367 456.867h46.971c2.347 0 4.25-1.903 4.25-4.25s-1.903-4.25-4.25-4.25h-46.971c-2.347 0-4.25 1.903-4.25 4.25s1.903 4.25 4.25 4.25z"/><path d="m312.973 383.129h-82.46c-2.347 0-4.25 1.903-4.25 4.25s1.903 4.25 4.25 4.25h82.46c2.347 0 4.25-1.903 4.25-4.25s-1.903-4.25-4.25-4.25z"/><path d="m238.864 43.522h56.365c2.347 0 4.25-1.903 4.25-4.25s-1.903-4.25-4.25-4.25h-56.365c-2.347 0-4.25 1.903-4.25 4.25 0 2.348 1.902 4.25 4.25 4.25z"/><path d="m240.994 202.702h39.665c2.347 0 4.25-1.903 4.25-4.25s-1.903-4.25-4.25-4.25h-39.665c-2.347 0-4.25 1.903-4.25 4.25s1.903 4.25 4.25 4.25z"/><path d="m273.874 219.253h-26.095c-2.347 0-4.25 1.903-4.25 4.25s1.903 4.25 4.25 4.25h26.095c2.347 0 4.25-1.903 4.25-4.25s-1.903-4.25-4.25-4.25z"/>',
			viewBox: '0 0 485.033 485.033',
		},
		{
			name: 'quran-rehal',
			// prettier-ignore
			path: '<path d="m484.06 210.989-45.755-158.133c-.328-1.133-1.112-2.079-2.164-2.611-1.054-.533-2.278-.605-3.385-.197l-12.411 4.561-1.982-6.582c-.339-1.127-1.131-2.063-2.186-2.584-1.055-.522-2.279-.583-3.381-.168-29.582 11.134-44.034 14.763-107.786 22.14-40.168 4.647-56.44 21.963-62.954 33.842-6.469-11.884-22.678-29.195-62.839-33.842-63.753-7.377-78.205-11.006-107.787-22.14-1.101-.415-2.326-.354-3.381.168-1.055.521-1.847 1.457-2.186 2.584l-1.976 6.562-12.423-4.543c-1.105-.403-2.332-.331-3.382.201-1.051.533-1.833 1.478-2.161 2.609l-45.753 158.133c-.638 2.207.593 4.521 2.779 5.226l141.114 45.496-59.117 47.54c-1.004.807-1.587 2.025-1.587 3.312v32.49c0 1.709 1.023 3.252 2.599 3.916 1.574.664 3.394.32 4.617-.872l26.274-25.606c4.096-3.976 10.665-3.88 14.64.216l5.087 5.24c1.926 1.983 2.964 4.599 2.923 7.364s-1.156 5.348-3.15 7.284l-51.71 50.528c-.818.799-1.279 1.896-1.279 3.04v38.814c0 1.698 1.011 3.233 2.569 3.904.542.233 1.113.346 1.68.346 1.066 0 2.117-.401 2.922-1.163l151.508-143.381 151.74 143.383c.805.761 1.855 1.161 2.92 1.161.567 0 1.14-.114 1.681-.347 1.559-.671 2.568-2.206 2.568-3.903v-38.814c0-1.144-.461-2.24-1.279-3.04l-51.722-50.538c-1.983-1.926-3.099-4.509-3.14-7.274s.997-5.38 2.923-7.364l5.087-5.24c3.976-4.096 10.542-4.193 14.634-.223l26.281 25.613c1.224 1.192 3.045 1.536 4.617.872 1.575-.664 2.599-2.207 2.599-3.916v-32.49c0-1.286-.582-2.503-1.583-3.309l-59.081-47.609 140.999-45.429c2.186-.706 3.416-3.02 2.779-5.227zm-94.315-100.116h38.663l2.408 8h-6.571c-2.348 0-4.25 1.903-4.25 4.25s1.902 4.25 4.25 4.25h9.131l12.796 42.5h-42.927c-2.348 0-4.25 1.903-4.25 4.25s1.902 4.25 4.25 4.25h45.485l4.066 13.506c-21.982 7.912-73.793 23.604-147.522 27.514-32.093 1.702-48.683 13.718-56.95 23.5-.729.862-1.407 1.723-2.04 2.577v-85.096h63.461c2.348 0 4.25-1.903 4.25-4.25s-1.902-4.25-4.25-4.25h-63.461v-15.438c.561-3.152 7.102-31.816 59.703-37.902 61.527-7.119 83.698-13.038 111.668-23.373l8.193 27.212h-36.104c-2.348 0-4.25 1.903-4.25 4.25.001 2.347 1.904 4.25 4.251 4.25zm-356.505 75h26.505c2.348 0 4.25-1.903 4.25-4.25s-1.902-4.25-4.25-4.25h-23.946l7.376-24.5h62.07c2.348 0 4.25-1.903 4.25-4.25s-1.902-4.25-4.25-4.25h-59.51l4.968-16.5h23.043c2.348 0 4.25-1.903 4.25-4.25s-1.902-4.25-4.25-4.25h-20.485l13.492-44.813c29.514 10.936 51.988 17.089 111.488 23.974 52.74 6.103 59.033 34.906 59.543 37.888v48.952h-15.039c-2.348 0-4.25 1.903-4.25 4.25s1.902 4.25 4.25 4.25h15.039v5.5h-34.039c-2.348 0-4.25 1.903-4.25 4.25s1.902 4.25 4.25 4.25h34.039v37.507c-.609-.823-1.256-1.65-1.954-2.48-8.23-9.784-24.779-21.805-56.876-23.507-73.731-3.91-125.541-19.602-147.522-27.514zm272.747-110.016c61.594-7.127 77.914-10.836 105.544-21.039l3.669 12.187c-28.124 10.427-48.897 15.992-110.19 23.084-33.354 3.859-50.23 16.454-58.727 27.417v-3.748c.568-3.174 7.127-31.817 59.704-37.901zm-233.29-21.038c27.63 10.203 43.95 13.912 105.545 21.039 52.74 6.102 59.033 34.906 59.543 37.888v3.671c-8.477-10.944-25.307-23.479-58.566-27.327-59.225-6.853-80.292-12.641-110.01-23.685zm-19.875 4.774 8.611 3.149-39.294 130.518c-.645 2.141.479 4.415 2.572 5.203 19.769 7.441 74.328 25.204 153.794 29.418 52.999 2.811 58.835 34.556 59.279 37.671v17.445l-228.304-73.607zm39.036 338.358 50.42-49.268c3.613-3.507 5.644-8.211 5.719-13.246s-1.816-9.798-5.322-13.411l-5.087-5.24c-7.239-7.459-19.198-7.637-26.665-.389l-19.064 18.579v-20.378l61.886-49.766 17.631 5.685-19.632 19.598c-1.661 1.658-1.663 4.349-.005 6.01.83.831 1.919 1.247 3.008 1.247 1.086 0 2.173-.414 3.003-1.242l22.721-22.682 23.368 7.534-42.849 42.886c-1.658 1.661-1.657 4.352.003 6.01.83.829 1.917 1.244 3.004 1.244 1.088 0 2.177-.415 3.007-1.246l45.923-45.964 20.979 6.764-142.048 134.427zm300.587-83.356v20.381l-19.071-18.586c-7.459-7.24-19.418-7.063-26.659.395l-5.087 5.24c-3.507 3.613-5.398 8.376-5.322 13.411.075 5.035 2.106 9.739 5.708 13.236l50.432 49.278v27.162l-142.273-134.436 26.105-8.411 26.712 26.712c.829.83 1.917 1.245 3.005 1.245s2.176-.415 3.005-1.245c1.66-1.66 1.66-4.351 0-6.011l-23.63-23.63 45.233-14.574zm-146.161-31.597v-17.436c.469-3.178 6.484-34.874 59.44-37.682 79.464-4.214 134.024-21.977 153.794-29.418 2.093-.788 3.217-3.062 2.572-5.203l-39.29-130.497 8.607-3.163 43.341 149.79z"/><path d="m148.245 119.373h-33.5c-2.348 0-4.25 1.903-4.25 4.25s1.902 4.25 4.25 4.25h33.5c2.348 0 4.25-1.903 4.25-4.25s-1.902-4.25-4.25-4.25z"/>',
			viewBox: '0 0 484.228 484.228',
		},
		{
			name: 'rub-el-hizb',
			// prettier-ignore
			path: '<path d="m387.484 182.55v-70.808c0-7.763-6.316-14.078-14.079-14.078h-70.808l-50.069-50.069c-2.659-2.659-6.194-4.123-9.955-4.123-3.76 0-7.295 1.464-9.955 4.123l-50.068 50.069h-70.808c-7.763 0-14.079 6.315-14.079 14.078v70.808l-50.069 50.069c-2.659 2.659-4.124 6.195-4.124 9.955s1.465 7.296 4.124 9.955l50.069 50.068v70.808c0 7.763 6.315 14.079 14.079 14.079h70.808l50.069 50.069c2.659 2.659 6.194 4.123 9.955 4.123 3.76 0 7.295-1.464 9.955-4.123l50.068-50.069h70.808c7.763 0 14.079-6.316 14.079-14.079v-70.808l50.069-50.068c5.488-5.489 5.488-14.42 0-19.91zm44.058 63.968-51.314 51.313c-.797.797-1.245 1.878-1.245 3.005v9.898h-19.001c-2.347 0-4.25 1.903-4.25 4.25s1.903 4.25 4.25 4.25h19.001v16.998h-81.998c-2.347 0-4.25 1.903-4.25 4.25s1.903 4.25 4.25 4.25h81.998v28.672c0 3.076-2.503 5.579-5.579 5.579h-72.568c-1.128 0-2.208.448-3.005 1.245l-51.313 51.314c-1.054 1.054-2.455 1.634-3.945 1.634s-2.891-.58-3.944-1.634l-51.313-51.314c-.797-.797-1.878-1.245-3.005-1.245h-72.568c-3.076 0-5.579-2.503-5.579-5.579v-22.672h39.33c2.347 0 4.25-1.903 4.25-4.25s-1.903-4.25-4.25-4.25h-39.33v-41.397c0-1.127-.448-2.208-1.245-3.005l-51.314-51.313c-1.053-1.053-1.634-2.454-1.634-3.944s.58-2.891 1.634-3.945l7.89-7.89h55.499c2.347 0 4.25-1.903 4.25-4.25s-1.903-4.25-4.25-4.25h-46.998l34.923-34.923c.797-.797 1.245-1.878 1.245-3.005v-18.068h109.826c2.347 0 4.25-1.903 4.25-4.25s-1.903-4.25-4.25-4.25h-109.826v-22.998h45.33c2.347 0 4.25-1.903 4.25-4.25s-1.903-4.25-4.25-4.25h-45.33v-14.502c0-3.076 2.502-5.578 5.579-5.578h72.568c1.127 0 2.208-.448 3.005-1.245l51.313-51.313c1.054-1.054 2.455-1.634 3.945-1.634s2.891.58 3.944 1.634l51.314 51.313c.797.797 1.878 1.245 3.005 1.245h72.568c3.076 0 5.579 2.502 5.579 5.578v31.001h-26.501c-2.347 0-4.25 1.903-4.25 4.25s1.903 4.25 4.25 4.25h26.501v33.067c0 1.127.448 2.208 1.245 3.005l51.314 51.313c2.174 2.176 2.174 5.715-.001 7.89z"/><path d="m480.382 231.068-61.517-61.517v-86.998c0-8.972-7.299-16.271-16.271-16.271h-86.998l-61.517-61.516c-3.073-3.073-7.159-4.766-11.505-4.766s-8.432 1.693-11.505 4.766l-61.517 61.517h-86.998c-8.972 0-16.271 7.299-16.271 16.271v86.999l-61.517 61.515c-6.344 6.344-6.344 16.666 0 23.011l61.517 61.517v86.998c0 8.972 7.299 16.272 16.271 16.272h86.998l61.517 61.517c3.073 3.073 7.159 4.766 11.505 4.766s8.432-1.693 11.505-4.766l61.517-61.517h86.998c8.972 0 16.271-7.299 16.271-16.272v-86.998l61.517-61.517c6.344-6.344 6.344-16.666 0-23.011zm-6.011 17-62.762 62.762c-.797.797-1.245 1.878-1.245 3.005v88.758c0 4.285-3.486 7.772-7.771 7.772h-88.758c-1.127 0-2.208.448-3.005 1.245l-62.762 62.762c-1.467 1.468-3.419 2.276-5.495 2.276s-4.027-.809-5.495-2.276l-62.762-62.762c-.797-.797-1.878-1.245-3.005-1.245h-88.757c-4.285 0-7.771-3.486-7.771-7.772v-88.758c0-1.127-.448-2.208-1.245-3.005l-62.762-62.762c-3.03-3.03-3.03-7.96 0-10.989l62.762-62.762c.797-.797 1.245-1.878 1.245-3.005v-88.759c0-4.285 3.486-7.771 7.771-7.771h88.758c1.127 0 2.208-.448 3.005-1.245l62.762-62.762c1.467-1.468 3.419-2.276 5.495-2.276s4.027.809 5.495 2.276l62.762 62.762c.797.797 1.878 1.245 3.005 1.245h88.758c4.285 0 7.771 3.486 7.771 7.771v88.759c0 1.127.448 2.208 1.245 3.005l62.762 62.762c3.029 3.03 3.029 7.96-.001 10.989z"/>',
			viewBox: '0 0 485.147 485.147',
		},
	];

	const { path, viewBox = '0 0 16 16' } = icons.find( i => i.name === name );
	const props = {
		viewBox,
		'aria-hidden': true,
		'class': [ 'icon', `icon-${ name }`, className ].filter( Boolean ).join( ' ' ),
		'fill': 'currentColor',
		'height': 24,
		'role': 'presentation',
		'width': 24,
		...$$restProps,
	};
</script>

<svg {...props}>{@html path}</svg>
