<script>
	import { sprintf } from 'sprintf-js';

	import { arabic_number } from '../utils';

	import HomeLink from './HomeLink.svelte';

	/** @type {number} */
	export let juz_number;
	/** @type {string} */
	export let surah_name;
	/** @type {number} */
	export let surah_number;
</script>

<header>
	<span class="juz-info">{sprintf( 'الجزء %s', arabic_number( juz_number ) )}</span>
	<span class="surah-info">{sprintf( '%s %s', surah_name, arabic_number( surah_number ) )}</span>
	<HomeLink />
</header>

<style lang="postcss">
	header {
		display: grid;
		grid-template-columns: 1fr auto 1fr;
		padding-block-start: 0.5rem;
		padding-block-end: 0.5rem;
		font-size: 0.875rem;

		:global( a ) {
			grid-column: 2/3;
			grid-row: 1/2;
			padding-inline-start: 1rem;
			padding-inline-end: 1rem;
		}
	}

	.juz-info {
		grid-column: 1/2;
	}

	.surah-info {
		grid-column: 3/4;
		text-align: end;
	}
</style>
