<script>
	import { arabic_number } from '../utils';

	import BookmarkButton from './BookmarkButton.svelte';

	/** @type {number} */
	export let current;
	/** @type {number} */
	export let total;

	const next = current + 1;
	const prev = current - 1;
	const prev_path = prev === 0 ? '/' : `/page/${ prev }`;
</script>

<nav>
	<a class="prev" href={prev_path}><span class="screen-reader-text">{arabic_number( prev )}</span></a>
	<BookmarkButton hydrate-client={{ page_number: current }} />
	{#if current < total}
		<a class="next" href={`/page/${ next }`}>
			<span class="screen-reader-text">{arabic_number( next )}</span>
		</a>
	{/if}
</nav>

<style lang="postcss">
	nav {
		text-align: center;
		font-size: 1rem;
		display: grid;
		grid-template-columns: 1fr auto 1fr;
		gap: 0.5rem;
		justify-content: center;
		align-content: center;

		:global( button ) {
			grid-column: 2 / 3;
		}
	}

	a {
		text-decoration: unset;
	}

	.prev {
		grid-column: 1 / 2;

		&::after {
			content: '\02192';
		}
	}

	.next {
		grid-column: 3 / 4;

		&::after {
			content: '\02190';
		}
	}
</style>
